<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>CODE4REAL</title>
        <link rel="stylesheet" href="styles.css">
        <link
          rel="stylesheet"
          type="text/css"
          href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"
        />
        <script
          src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.0.4/vue.cjs.js"
          integrity="sha512-tbfpVZegVjOUS9H3X526XZJxi/dPnhiGRM8Z83AY8kbFBrZLuug/mU57PJJsdXn38dlXjrUxtaEOl11Y1uoaRQ=="
          crossorigin="anonymous"
          index="0"
        ></script>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="https://unpkg.com/vuex"></script>
    </head>
    <body>
        <div class="navigator">
            <div class = "left-side">
                <a href="dashboard.html">Return to Dashboard</a>
            </div>
            <div class = "right-side">
                <div class="dropdown">
                    <button class="drop-button">Your Name
                    </button>
                        <div class="button">
                            <a href="Setting.html">Settings</a>
                            <a href="Help.html">Help</a>
                            <a>Log Out</a>
                        </div>
                </div>
            </div>
        </div>

        <!--Beginning of Form-->
        <div class="form">
            <div class="x-button">
                <a href="dashboard.html">X</a>
            </div>

            <!--Beginning of content in form (middle)-->
            <div class="content">
                <div id="title">
                    <input
                        type="text"
                        class="title-text"
                        placeholder="Enter Title Here"
                        v-model="title"
                    />
                </div>
                <div id="description">
                    <input
                        type="text"
                        class="desc-text"
                        placeholder="Form Description"
                        v-model="desc"
                    />
                </div>
                <div 
                    id="questions"
                    bind:key="{index}"
                    style="height: auto;"
                    v-for="(questions, index) in questionBoxes"
                >
                    <div class="left-container">

                        <!--question-->
                        <div id="question-box">
                            <input
                                type="text"
                                class="form-control"
                                placeholder="Enter Question Here"
                                v-model="questions.question"
                            />
                        </div>

                        <!--short answer text-->
                        <div id="answer" style="height: 40px" v-if="questionBoxes[index].type == 'short answer'">
                            <div
                                id="shortAnswer"
                                class="form-control"
                                :key="saindex"
                                v-for="(shortAnswer, saindex) in questionBoxes[index].shortAnswers"
                            >
                                <input type="text"
                                    id="short-answer-text"
                                    class="form-control"
                                    placeholder="short answer text"
                                    style="font-family: Arial, Helvetica, sans-serif;"
                                    v-model="shortAnswer.answer"
                                ></input>
                            </div>
                        </div>

                        <!--long answer text area-->
                        <div id="answer" v-if="questionBoxes[index].type == 'long answer'">
                            <div
                                id="longAnswer"
                                class="form-control"
                                style="height: 95px;"
                                :key="laindex"
                                v-for="(longAnswer, laindex) in questionBoxes[index].longAnswers"
                            >
                                <textarea
                                    id="long-answer-textarea"
                                    class="form-control"
                                    placeholder="long answer text"
                                    style="font-family: Arial, Helvetica, sans-serif;"
                                    v-model="longAnswer.answer"
                                ></textarea>
                            </div>
                        </div>

                        <!--multiple choice answer-->
                        <div
                            id="answer"
                            v-else-if="questionBoxes[index].type == 'multiple choice'"
                        >
                            <div
                                id="mcquestions"
                                class="mcquestions"
                                name="mcquestions"
                                style="margin-top: 7px;"
                                :key="mcindex"
                                v-for="(mcquestions, mcindex) in questionBoxes[index].multipleChoiceOptions"
                            >
                                <button
                                    id="deleting_mc_button"
                                    class="deleting_mc_button"
                                    @click="deleteMultipleChoiceOption(index, mcindex)"
                                >
                                    -
                                </button>
                                <input
                                    type="radio"
                                    id="radioOption"
                                    name="radioOption"
                                    value=""
                                    style="float: left;"
                                />
                                <input
                                    type="text"
                                    id="radioOptionText"
                                    name="radioOptionText"
                                    style="float: left;"
                                    placeholder="option"
                                    v-model="mcquestions.moption"
                                /><br />
                            </div>
                            <button
                                id="adding_mc_button"
                                class="adding_mc_button"
                                @click="addNewMultipleChoiceOption(index)"
                            >
                                add option
                            </button>
                        </div>

                        <!--checkbox answer-->
                        <div id="answer" v-else-if="questionBoxes[index].type == 'checkbox'">
                            <div
                                id="mcquestions"
                                class="mcquestions"
                                name="mcquestions"
                                style="margin-top: 7px;"
                                :key="mcindex"
                                v-for="(mcquestions, mcindex) in questionBoxes[index].checkboxOptions"
                            >
                                <button
                                    id="deleting_mc_button"
                                    class="deleting_mc_button"
                                    @click="deleteCheckboxOption(index, mcindex)"
                                >
                                    -
                                </button>
                                <input
                                    type="checkbox"
                                    id="radioOption"
                                    name="radioOption"
                                    value=""
                                    style="float: left;"
                                />
                                <input
                                    type="text"
                                    id="radioOptionText"
                                    name="radioOptionText"
                                    style="float: left;"
                                    placeholder="option"
                                    v-model="mcquestions.coption"
                                /><br />
                            </div>
                            <button
                                id="adding_mc_button"
                                class="adding_mc_button"
                                @click="addNewCheckboxOption(index)"
                            >
                                add option
                            </button>
                        </div>
                    </div> <!--END: question boxes stack-->

                    <!--choose question type"-->
                    <div 
                    class="question-box choices"
                    style="-webkit-text-fill-color: #779fa1;"
                    >
                        <select
                            id="choose-question-type"
                            class="form-control"
                            v-model="questions.type"
                            value="questions.index.type"
                            style="font-size: 10px;"
                        > 
                            <option> short answer </option>
                            <option> long answer </option>
                            <option> multiple choice </option>
                            <option> checkbox </option>
                        </select>  
                    </div>

                    <!--required box-->
                    <div class="question-box required"></div>

                    <!--trash button-->
                    <div class="trash_can" @click="deleteQuestion(index)">
                        <div class="trash_symbol">
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="16"
                                height="16"
                                fill="currentColor"
                                class="bi bi-trash"
                                viewBox="0 0 16 16"
                            >
                                <path
                                    d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"
                                />
                                <path
                                    fill-rule="evenodd"
                                    d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"
                                />
                            </svg>
                        </div>
                    </div>
                </div>
                
                <!--topic choice box-->
                <div
                    id="topicChoiceBox"
                    class="question"
                    :key="index"
                    v-for="(topicChoiceBox, index) in choiceBoxes"
                >
                    <p style="margin-left: 10px; margin-top: 10px; margin-bottom: 0px"> Set your choice questions here </p>

                    <!--topic label-->
                    <br><input type="text" id="topic-label" class="topic-label" placeholder="Label (e.g. POAS)" v-model="topicChoiceBox.label"></input>

                    <!--all choice sets (question + answer)-->
                    <div id="choiceQuestions" :key="questionIndex" v-for="(choiceQuestions, questionIndex) in choiceBoxes[index].choiceQuestions">
                        
                        <!--question-->
                        <input type="text" id="choice_question" class="topic-choice-text" placeholder="question (e.g. sentence of significance)" v-model="choiceQuestions.question"></input>

                        <!--delete choice set button-->
                        <button
                            id="deleting_mc_button"
                            class="deleting_mc_button"
                            style="margin-left: 2px"
                            @click="deleteChoiceQuestionSet(index, questionIndex)"
                        >
                            -
                        </button>

                        <!--dropdown base-->
                        <div
                            class="question-box choices"
                            style="-webkit-text-fill-color: #779fa1; height: 32px; width: 80px"
                        >

                            <!--dropdown to select short or long answer to question (for each choice question)-->
                            <select
                                id="choose-question-type"
                                class="form-control"
                                v-model="choiceQuestions.type"
                                value="choiceQuestions.type"
                                style="font-size: 10px;"
                            >
                                <option> short </option>
                                <option> long </option>
                            </select>

                        </div>

                        <!--question answer-->

                        <!--short answer-->
                        <input type="text" id="choice_question_answer" v-if="choiceQuestions.type == 'short'" class="topic-choice-text" placeholder="answer area" v-model="choiceQuestions.answer"></input>

                        <!--long answer-->
                        <textarea id="choice_question_answer" class="topic-choice-textarea" v-if="choiceQuestions.type == 'long'" placeholder="answer area" v-model="choiceQuestions.answer"></textarea>
                    </div> <!--END: choice set (question+answer) stack-->

                    <!--add choice question set button-->
                    <button
                        id="adding_mc_button"
                        class="adding_mc_button"
                        style="background-color: transparent; margin-left: 0.5%; margin-top: 1%; margin-bottom: 1%"
                        @click="addNewChoiceQuestionSet(index)"
                    >
                        add question
                    </button>
                </div> <!--END: topic choice box-->
            </div> <!--END: content in form (middle)-->

            <div id="due_date">
                <br><input type="datetime-local" v-model="dueDate" value="dueDate" style="margin-top: 2px; margin-bottom: 2px;"></input>
            </div>

            <!--button to add more questions-->
            <button
                id="adding_button"
                class="adding_button"
                @click="addNewQuestion"
            >
                +
            </button>
        </div> <!--END: FORM-->

        <script>
            function getISOStringWithoutSecsAndMillisecs2(date) {
            const dStr = date.toISOString()

            return dStr.substring(0, dStr.indexOf(':', dStr.indexOf(':')+1))
        }
        var app = new Vue({
            el: "#form",
            data: {
                title: "",
                desc: "",
                dueDate: getISOStringWithoutSecsAndMillisecs2(new Date()),
                choiceBoxes: [{
                    label: "",
                    choiceQuestions: [{
                        type: "short",
                        question: "",
                        answer: ""
                    }]
                }],
                questionBoxes: [
                    {
                        question: "",
                        title: "",
                        type: "short answer",

                        // short Answer is default question
                        shortAnswers: [
                            {
                                answer: ""
                            }
                        ],
                        longAnswers: [
                            {
                                answer: ""
                            }
                        ],
                        multipleChoiceOptions: [
                            {
                                moption: ""
                            }
                        ],
                        checkboxOptions: [
                            {
                                coption: ""
                            }
                        ]
                    }
                ]
            },
            methods: {
                addNewQuestion() {
                    this.questionBoxes.push({
                        question: "",
                        type: "short answer",
                        shortAnswers: [{
                            answer: ""
                        }],
                        longAnswers: [
                            {
                                answer: ""
                            }
                        ],
                        multipleChoiceOptions: [
                            {
                                moption: ""
                            }
                        ],
                        checkboxOptions: [
                            {
                                coption: ""
                            }
                        ]
                    });
                },

                deleteQuestion(index) {
                    this.questionBoxes.splice(index, 1);
                },

                addNewMultipleChoiceOption(index) {
                    this.questionBoxes[index].multipleChoiceOptions.push({
                        moption: ""
                    });
                },

                deleteMultipleChoiceOption(index, mcindex) {
                    this.questionBoxes[index].multipleChoiceOptions.splice(mcindex, 1);
                },

                addNewCheckboxOption(index) {
                    this.questionBoxes[index].checkboxOptions.push({
                        coption: ""
                    });
                },

                deleteCheckboxOption(index, mcindex) {
                    this.questionBoxes[index].checkboxOptions.splice(mcindex, 1);
                },

                addNewChoiceQuestionSet(index) {
                    this.choiceBoxes[index].choiceQuestions.push({
                        type: "short", 
                        question: "", 
                        answer: ""
                    });
                },
            
                deleteChoiceQuestionSet(index, questionIndex) {
                    this.choiceBoxes[index].choiceQuestions.splice(questionIndex, 1);
                } 
            } // methods end
        }); // app end
        </script>