/* background color */
body {
  background-color: #f5f7e9ff;
}

/* Navbar container */
.navigator {
  overflow: hidden;
  background-color: #779fa1ff;
  font-family: Varela Round;
}

/* Links inside the navbar left */
.navigator .left-side a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/*Right side of nav bar */
.navigator .right-side {
  float: right;
}

/* Links inside navbar right */
.navigator .right-side a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .drop-button {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  /* Important for vertical align on mobile phones */
  margin: 0;
  /* Important for vertical align on mobile phones */
}

/* Add a purple background color to navbar links on hover */
.navigator .right-side a:hover,
.dropdown:hover .drop-button {
  background-color: #564154ff;
  width: 100%;
}

/*Add a purple background color to nav bar links on hover (left) */
.navigator .left-side a:hover {
  background-color: #564154ff;
}

/* Dropdown content (hidden by default) */
.button {
  display: none;
  position: absolute;
  background-color: #779fa1ff;
  min-width: 121px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.button a {
  float: right;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Show the dropdown menu on hover */
.dropdown:hover .button {
  display: block;
}

/* box for form */
.form {
  width: 850px;
  height: auto;
  background-color: #e1caabff;
  display: flex;
  margin: auto;
  margin-top: 1%;
  margin-bottom: 1%;
  border: 1px solid black;
}

/* box for title */
.title {
  width: 600px;
  height: 50px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  background-color: #eeeeeeff;
  margin-top: 3%;
  border: 1px solid black;
}

/* Text box for title */
.title-text {
  width: 100%;
  border: none;
  box-sizing: border-box;
  border-radius: 4px;
  height: 100%;
  font-size: 100%;
}

/* box for description */
#description {
  width: 600px;
  height: 40px;
  background-color: #eeeeeeff;
  margin: auto;
  position: absolute;
  margin-top: 10%;
  border: 1px solid black;
}

/* Text box for descrption */
.desc-text {
  width: 100%;
  border: none;
  box-sizing: border-box;
  border-radius: 4px;
  height: 100%;
  font-size: 100%;
}

/* box for x-button */
#x-button {
  width: 20px;
  height: 20px;
  position: absolute;
  right: 1.75%;
  background-color: #c95237ff;
  border: 1px solid white;
}

/* letter in the x-button */
#x-button a {
  float: none;
  color: white;
  text-decoration: none;
  display: block;
  text-align: center;
}

/* box for due date */
#due_date {
  width: auto;
  height: 50px;
  background-color: #779fa1ff;
  display: inline-block;
  position: absolute;
  left: 70%;
  top: 35%;
  color: white;
  border: 1px solid black;
}

/* box for question */
#questions {
  width: 600px;
  height: auto;
  background-color: #eeeeeeff;
  margin-left: auto;
  margin-right: auto;
  margin-top: 28%;
  border: 1px solid black;
}

#topicChoiceBox {
  width: 600px;
  height: auto;
  background-color: #eeeeeeff;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  border: 1px solid black;
}

/* question and answer in choice question box */
#choiceQuestions {
  margin-top: 10px;
}

/* label of choice box */
.topic-label {
  width: 200px;
  height: 30px;
  margin-left: 1%;
  margin-right: auto;
  margin-bottom: 10px;
  float: bottom;
  border: 1px solid black;
}

/*question and answer text inputs in choice question box*/
.topic-choice-text {
  width: 450px;
  height: 30px;
  margin-left: 1%;
  margin-right: auto;
  margin-top: 1%;
  float: center;
  border: 1px solid black;
}

.topic-choice-textarea {
  width: 450px;
  height: 50px;
  margin-left: 1%;
  margin-right: auto;
  margin-top: 1%;
  float: center;
  border: 1px solid black;
  font-family: Arial, Helvetica, sans-serif;
}

/* box for question-box */
.question-box {
  width: 475px;
  height: 40px;
  background-color: #ede1d1ff;
  margin-left: 1%;
  margin-right: auto;
  margin-top: 1%;
  display: inline-block;
  border: 1px solid black;
}

/* Question input */
.form-control {
  width: 100%;
  background-color: rgb(255, 255, 255);
  border: none;
  box-sizing: border-box;
  border-radius: 4px;
  height: 100%;
  font-size: 100%;
}

/* box for choices */
.choices {
  width: 100px;
  height: 40px;
  background-color: #ede1d1ff;
  float: right;
  margin-top: 1%;
  margin-right: 1%;
  border: 1px solid black;
}

/* box for long answer */
#answer {
  width: 475px;
  height: auto;
  background-color: rgb(255, 255, 255);
  margin-top: 1.5%;
  margin-left: 1%;
  margin-bottom: 1%;
  border: 1px solid black;
}

/* box for requirement */
.required {
  width: 20px;
  height: 20px;
  background-color: #eeeeeeff;
  border: 1px solid black;
  float: right;
  margin-right: 7px;
  top: 100px;
}

/* Add a purple background color to required button on hover */
.required:hover {
  background-color: #564154ff;
}

/* box for trashcan icon */
.trash_can {
  width: 20px;
  height: 20px;
  background-color: #b7b7b7ff;
  border: 1px solid black;
  float: right;
  text-align: center;
  left: 100px;
}

/* centering trash can icon */
.trash_symbol {
  position: center;
  margin-top: 10%;
}

/* add hovering color for trash-box */
.trash_can:hover {
  background-color: #999999ff;
}

#mcquestions {
  margin-top: 5px;
}

/* adding multiple choice/checkbox button */
.adding_mc_button {
  background-color: white;
  border: none;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 15px;
  color: grey;
}

.adding_mc_button:hover {
  color: #779fa1ff;
}

/* box for adding-button */
.adding_button {
  height: 50px;
  width: 50px;
  background-color: #bbb;
  border-radius: 40%;
  display: inline-block;
  position: relative;
  right: -630px;
  bottom: 50px;
  border: 1px solid black;
  display: flex;
  /* or inline-flex */
  justify-content: center;
  color: #eeeeeeff;
  font-size: 40px;
}

/* add hovering color to adding-button */
.adding_button:hover {
  background-color: #d0c4b4ff;
}
